<%# We have access to the fruit object below %> <%# { name: 'Apple', color:
'Red', readToEat: 'true' } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Show Fruit</h1>

    <h4><%= fruit.name %></h4>

    <p>The Pear is Green</p>
    <p>It is ready to eat</p>
  </body>
</html>

<%# EJS OUTPUT TAG %> <%= 'js here' %>
<%# EJS RUN JS ONLY TAG %> <% 'js here' %>
